<table class="table is-hoverable">
  <thead>
    <tr>
      <th>Time (EDT)</th>
      <th>Session</th>
      <th>{{ include.people }}</th>
      <th>Title</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    {% assign schedule = include.schedule | where: "date", include.date %}
    {% assign schedule = schedule | sort: 'time_start' %}
    {% for event in schedule %}
      {% capture session %}{{ event.date }}{{ event.time_start | split: ":" | first }}{{ event.time_start | split: ":" | last }}{{ event.session }}{% endcapture %}
      {% assign speakers = include.speakers | sample: include.speakers.size | where: "sessions", session %}
      {% capture speakersnames %}
      {% for speaker in speakers | sample: speakers.size %}
        <a href="speakers#{{ speaker.photo | replace: ".jpg" "" }}">{{ speaker.fullname }}</a>
        {% if forloop.last == false %}, {% endif %}
      {% endfor %}
      {% endcapture %}
      {% capture eventtitle %}
      {% if event.name == "Lightning talks" %}Selection of presentations by participants{% endif %}
      {% if event.name contains "Poster" %}Selected posters presented by participants{% endif %}
      {% for speaker in speakers %}
        {% capture slides %}
          {% for tag in speaker.tags %}
            {% if tag.name == "Slides" %}
              [<a href="{{ tag.link }}">Slides</a>]
              {% break %}
            {% endif %}
          {% endfor %}
        {% endcapture %}
        <!-- {% if event.session contains "panel" %}Present and future of consciousness research: an interdisciplinary discussion{% break %}{% endif %} -->
          {% if speaker.abstract %}
          <details>
            <summary>{{ speaker.title }} {{ slides }}</summary>
            {{ speaker.abstract }}
          </details>
          {% else %}
            {{ speaker.title }} {{ slides }}
          {% endif %}
        {% break %}
      {% endfor %}
      {% endcapture %}
        <tr>
          <td><a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=UNIQUE+Student+Symposium&iso={{ event.date }}T{{ event.time_start | split: ":" | first }}{{ event.time_start | split: ":" | last }}00&p1=165">{{ event.time_start }}</a> - {{ event.time_end }}</td>
					<td><strong>{{ event.name }}</strong></td>
          <td>{{ speakersnames }}</td>
          {% if event.session contains "panel" %}
            <td>{{ event.title }}</td>
          {% elsif event.session contains "workshop" and speakers.size == 0 %}
            <td>{{ event.title }}</td>
          {% else %}
						<td>{{ eventtitle }}</td>
          {% endif %}
          {% capture platforms %}
            {% for platform in event.platforms %}
              <a href="{{ platform | split: "+" | last }}">{{ platform | split: "+" | first }}</a>
              {% if forloop.last == false %} & {% endif %}
            {% endfor %}
          {% endcapture %}
          <td>{{ platforms }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
